@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-custom {
        grid-template-columns: repeat(1, minmax(0, max-content));
    }

    .grid-custom-md {
        grid-template-columns: repeat(2, minmax(0, max-content));
    }

    .grid-custom-lg {
        grid-template-columns: repeat(3, minmax(0, max-content));
    }
}
