{% extends "base.html" %}

{% block content %}

<body class="bg-gray-50">

    <!-- Require css -->
    <style>
        .scroll-hidden::-webkit-scrollbar {
            height: 0px;
            background: transparent;
            /* make scrollbar transparent */
        }

    </style>


    <div class="flex">
        <div class="flex-auto font-bold text-center">
            <a href="#" class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl px-5 py-2">DJANGO
                GUMROAD
                CLONE </a>
        </div>
    </div>

    <nav>
        {% comment %}
        <!-- Mobile menu button -->
        <div class="flex md:hidden">
            <button type="button"
                class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
                aria-label="toggle menu">
                <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                    <path fill-rule="evenodd"
                        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                    </path>
                </svg>
            </button>
        </div> {% endcomment %}


        <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
        <div class="items-center md:flex border-y-2 border-gray-900">
            <div class="flex flex-col md:flex-row md:flex-auto">
                <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">Features</a>
                <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">Pricing</a>
                <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">University</a>
                <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">Blog</a>
                <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">Podcast</a>
                <a class="text-4xl hover:text-gray-800 hover:underline mx-3" href="{% url 'discover' %}">Discover</a>
            </div>

            <div class="flex items-center md:flex-initial border-l-2  border-gray-900">
                {% if not user.is_authenticated %}
                <a class="px-5 py-5 text-4xl font-medium text-center transform hover:bg-pink-400"
                    href="{% url 'account_login' %}">Login</a>
                <a class="px-5 py-5 text-4xl font-medium text-center text-white transform bg-black hover:bg-pink-400"
                    href="{% url 'account_signup' %}">Start Selling</a>
                {% else %}
                <a class="px-5 py-5 text-4xl font-medium text-center text-white transform bg-black hover:bg-pink-400"
                    href="{% url 'account_logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="flex justify-center items-center h-[32rem] bg-pink-400">

        <div class="text-center transition hover:scale-110 hover:shadow-2xl">
            <a class="px-5 py-5 text-4xl font-medium text-center text-white transform bg-black"
                href="{% url 'account_signup' %}">Start
                Selling</a>



        </div>
    </div>

    <div class="px-5 py-10 mx-auto bg-black">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-100">Contact Us</h1>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
                <div class="p-2 w-1/2">
                    <div class="relative">
                        <label for="name" class="leading-7 text-sm text-gray-200">Name</label>
                        <input type="text" id="name" name="name"
                            class="w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            data-np-checked="1">
                    </div>
                </div>
                <div class="p-2 w-1/2">
                    <div class="relative">
                        <label for="email" class="leading-7 text-sm text-gray-200">Email</label>
                        <input type="email" id="email" name="email"
                            class="w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            data-np-checked="1">
                    </div>
                </div>
                <div class="p-2 w-full">
                    <div class="relative">
                        <label for="message" class="leading-7 text-sm text-gray-200">Message</label>
                        <textarea id="message" name="message"
                            class="w-full bg-gray-100  rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                    </div>
                </div>
                <div class="p-2 w-full">
                    <button
                        class="flex mx-auto text-black bg-pink-400 hover:bg-pink-400 border-0 py-2 px-8 focus:outline-none rounded text-lg transition hover:scale-110">Contact</button>
                </div>
                <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                    <a class="text-indigo-500">example@email.com</a>
                    <p class="text-white leading-normal my-5">
                    </p>
                    <span class="inline-flex">
                        <a class="text-gray-500 ">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                            </svg>
                        </a>
                        <a class="ml-4 text-gray-500">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path
                                    d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                </path>
                            </svg>
                        </a>
                        <a class="ml-4 text-gray-500">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                            </svg>
                        </a>
                        <a class="ml-4 text-gray-500">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path
                                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                                </path>
                            </svg>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>




</body>


{% endblock content %}
