{% extends "base.html" %}

{% block content %}

<div class="flex flex-row h-screen bg-stone-200 ">
    {% include "sidebar.html" %}
    <div class="flex-auto flex flex-col h-screen overflow-y-auto">
        <div class="flex flex-row flex-none h-1/5 items-center justify-between border-b-2 border-black">
            <div class="text-4xl font-semibold ml-20">Library of purchased products.</div>

        </div>

        <div class="w-full overflow-y-auto">
            <div class="ml-10 my-10 grid grid-custom md:grid-custom-md lg:grid-custom-lg gap-3">
                <!--Cards-->


                {% for product in object_list.products.all %}


                <a href="{{ product.get_absolute_url }}">
                    <div class="flex flex-col bg-stone-100 rounded-md overflow-hidden shadow hover:border-b-4 hover:border-r-4 hover:border-black min-w-[265px] h-[330px] max-w-[370px]
            border-2 border-black hover:scale-[1.01]">
                        <img src="{% if product.cover %} {{ product.cover.url }} {% else %} https://dummyimage.com/420x260 {% endif %}"
                            alt="{{ product.name }}" class="overflow-hidden">

                        <div class="flex-auto flex flex-col pl-4 justify-center">
                            <div class="text-3xl pt-3">{{ product.name }}</div>
                            <div class="underline py-2">{{ product.user }}</div>
                        </div>
                        <div class="flex flex-row  items-center border-t-2 border-black">
                            <div class="flex-auto flex flex-row items-center border-r-2 p-3 border-black">
                                <svg class="w-5 h-5" fill="black" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z">
                                    </path>
                                </svg>
                                <div class="pl-2">{{ product.star}} ({{ product.num_reviews }})</div>
                            </div>
                            <div class="px-10 text-lg">{{ product.price_display }} $</div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

        </div>


    </div>
    {% endblock content %}
