<nav>
    {% comment %}
    <!-- Mobile menu button -->
    <div class="flex md:hidden">
        <button type="button"
            class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
            aria-label="toggle menu">
            <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                <path fill-rule="evenodd"
                    d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                </path>
            </svg>
        </button>
    </div> {% endcomment %}


    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <div class="items-center md:flex border-y-2 border-gray-900">
        <div class="flex flex-col md:flex-row md:flex-auto">
            <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">Features</a>
            <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">Pricing</a>
            <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">University</a>
            <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">Blog</a>
            <a class="line-through text-4xl mx-3 cursor-not-allowed" href="#">Podcast</a>
            <a class="text-4xl hover:text-gray-800 hover:underline mx-3" href="#">Discover</a>
        </div>

        <div class="flex items-center md:flex-initial border-l-2  border-gray-900">
            <a class="px-5 py-5 text-4xl font-medium text-center transform hover:bg-pink-400" href="#">Login</a>
            <a class="px-5 py-5 text-4xl font-medium text-center text-white transform bg-black hover:bg-pink-400"
                href="#">Start Selling</a>
        </div>
    </div>
</nav>
