{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex flex-row h-screen bg-stone-200 text-gray-900">
    {% include "sidebar.html" %}
    <div class="flex-auto flex flex-col h-screen overflow-y-auto">
        <div class="flex flex-row flex-none h-1/5 items-center justify-between border-b-2 border-black">
            <div class="text-4xl font-semibold ml-20">Products</div>
            <a href="{% url 'product-create' %}"
                class="bg-pink-400 font-semibold text-lg px-5 py-3 mr-20 rounded-md border border-black hover:scale-[1.01] hover:border-b-4 hover:border-r-4 hover:border-black">
                New product
            </a>
        </div>


        {% if object_list %}
        <div class="ml-20 mt-10 text-2xl">Products</div>
        <div class="ml-20 mb-10 flex flex-col w-10/12 rounded-md">
            <div class="flex flex-col mt-8">
                <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <div
                        class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
                        <table class="min-w-full text-center shadow-lg">
                            <thead>
                                <tr class="bg-stone-100 text-md">
                                    <th
                                        class="px-6 py-3 font-bold leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200">
                                        Name</th>
                                    <th
                                        class="px-6 py-3 font-bold leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200">
                                        Product</th>
                                    <th
                                        class="px-6 py-3 font-bold leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200">
                                        Price</th>
                                    <th
                                        class="px-6 py-3 font-bold leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200">
                                        Status</th>
                                    <th
                                        class="px-6 py-3 text-left font-bold leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200">
                                        Edit</th>
                                    <th
                                        class="px-6 py-3 text-left font-bold leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200">
                                        Delete</th>
                                </tr>
                            </thead>
                            <tbody class="bg-stone-50">
                                {% for product in object_list %}
                                <tr>
                                    <td class="border-b border-r border-gray-200 w-24 h-24">
                                        <img src="{% if product.cover %} {{ product.cover.url }} {% else %} {% static 'images/no-image.svg' %} {% endif %}"
                                            alt="{{ product.name }}"
                                            class="{% if product.cover %} object-cover w-24 h-24 {% else %} p-5{% endif %}">
                                    </td>


                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-left text-xl leading-5 text-gray-500"><a
                                                href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </div>
                                    </td>


                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-xl leading-5 text-gray-500">{{ product.price_display }} $</div>
                                    </td>

                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <span
                                            class="inline-flex px-2 text-xs font-semibold leading-5 {% if product.published %}text-green-800 bg-green-100 rounded-full
                                            {% else %} text-orange-800 bg-orange-100 rounded-full {% endif %}">{% if product.published %}Published{% else %}Draft
                                            {% endif %}</span>
                                    </td>

                                    <td
                                        class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">

                                        <a href="{{ product.get_update_url }}"><svg xmlns="http://www.w3.org/2000/svg"
                                                class="w-6 h-6 text-violet-400" fill="none" viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                            </svg></a>

                                    </td>
                                    <td
                                        class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                                        <a href="{{ product.get_delete_url }}"><svg xmlns="http://www.w3.org/2000/svg"
                                                class="w-6 h-6 text-orange-400" fill="none" viewBox="0 0 24 24"
                                                stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
