{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex flex-row h-screen bg-stone-200 text-gray-900">
    {% include "sidebar.html" %}
    <div class="flex-auto flex flex-col h-screen overflow-y-auto">
        <div class="flex flex-row flex-none h-1/5 items-center justify-between border-b-2 border-black">
            <div class="text-4xl font-semibold ml-20">Profile</div>
        </div>
        <div class="mt-5 w-2/3 text-center self-center">

            {% if not details_submitted %}
            <div class="text-2xl font-semibold mb-3">Connect your Stripe account to get paid</div>
            <div class="px-5 py-5"><a href="{% url 'stripe-account-link' %}"
                    class="bg-pink-400 font-semibold text-lg px-5 py-3 rounded-md border border-black hover:scale-[1.01] hover:border-b-4 hover:border-r-4 hover:border-black">
                    Connect with Stripe
                </a></div>
            {% else %}
            <p class="text-2xl font-semibold mb-3">Your account is complete and you will receive payouts</p>
            <p class="text-lg">You can reconnect your Stripe account</p>
            <div class="px-5 py-5"><a href="{% url 'stripe-account-link' %}"
                    class="bg-pink-400 font-semibold text-lg px-5 py-3 rounded-md border border-black hover:scale-[1.01] hover:border-b-4 hover:border-r-4 hover:border-black">
                    Reconnect with Stripe
                </a></div>
            {% endif %}
        </div>


    </div>
</div>

{% endblock content %}
