{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="bg-gradient-to-b from-indigo-500 via-purple-500 to-pink-500 min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0"
    style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="{% url 'home' %}">
            <h1 class="text-4xl font-bold text-white text-center">DJANGO GUMROAD CLONE</h1>
        </a>
    </header>

    <div class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section>
            <h3 class="font-bold text-2xl text-center"> Sign in</h3>
            <p class="text-gray-600 pt-3 text-lg text-center">Or <a href="{{ signup_url }}"
                    class="text-blue-600 hover:text-blue-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                    Create an account
                </a></p>

        </section>

        <section class="mt-5">
            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="mt-6">
                    <span class="block w-full rounded-md shadow-sm">
                        <button type="submit"
                            class="w-full flex justify-center py-2 px-4 bg-pink-400 font-semibold text-lg rounded-md border border-black hover:scale-[1.01] hover:border-b-4 hover:border-r-4 hover:border-black">

                            {% trans "Sign In" %}
                        </button>
                    </span>
                </div>
                <div class="mt-6 flex items-center justify-between">
                    <div class="text-sm leading-5">
                        <a href="{% url 'account_reset_password' %}"
                            class="font-medium text-blue-600 hover:text-blue-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                            {% trans "Forgot your password?" %}
                        </a>
                    </div>
                </div>
            </form>
        </section>
    </div>

</div>
{% endblock %}
