{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="bg-gradient-to-b from-indigo-500 via-purple-500 to-pink-500 min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0"
    style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="{% url 'home' %}">
            <h1 class="text-4xl font-bold text-white text-center">DJANGO GUMROAD CLONE</h1>
        </a>
    </header>

    <div class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">

        <div class="prose-lg">
            <h1 class="text-3xl text-semibold">{% trans "Sign Out" %}</h1>
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit"
                    class="w-full flex justify-center py-2 px-4 bg-pink-400 font-semibold text-lg rounded-md border border-black hover:scale-[1.01] hover:border-b-4 hover:border-r-4 hover:border-black">
                    {% trans "Sign Out" %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
