{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="bg-gradient-to-b from-indigo-500 via-purple-500 to-pink-500 min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0"
    style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="{% url 'home' %}">
            <h1 class="text-4xl font-bold text-white text-center">DJANGO GUMROAD CLONE</h1>
        </a>
    </header>

    <div class="bg-white max-w-5xl mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">


        <section class="mt-0">
            <div class="prose-lg">
                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}</p>
            </div>
        </section>
    </div>

</div>
{% endblock %}
