{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="bg-gradient-to-b from-indigo-500 via-purple-500 to-pink-500 min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0"
    style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="{% url 'home' %}">
            <h1 class="text-4xl font-bold text-white text-center">DJANGO GUMROAD CLONE</h1>
        </a>
    </header>

    <div class="bg-white max-w-2xl mx-auto p-4 md:p-8 my-10 rounded-lg shadow-2xl">


        <section class="mt-5">
            <div class="prose-lg">
                <h1 class="text-2xl">{% trans "Change Password" %}</h1>
                <p class="text-center">{% trans 'Your password is now changed.' %}</p>
                <p
                    class="max-w-sm mx-auto text-center py-2 px-4 bg-pink-400 font-semibold text-lg rounded-md border border-black hover:scale-[1.01] hover:border-b-4 hover:border-r-4 hover:border-black">
                    <a href="{% url 'account_login' %}">Login and start Selling!</a></p>
            </div>
        </section>
    </div>

</div>
{% endblock %}
