{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="bg-gradient-to-b from-indigo-500 via-purple-500 to-pink-500 min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0"
    style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="{% url 'home' %}">
            <h1 class="text-4xl font-bold text-white text-center">DJANGO GUMROAD CLONE</h1>
        </a>
    </header>

    <div class="bg-white max-w-lg mx-auto p-6 md:p-10 my-10 rounded-lg shadow-2xl">
        <div class="prose-lg text-justify">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
            <form method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit"
                    class="w-full flex justify-center py-2 px-4 bg-pink-400 font-semibold text-lg rounded-md border border-black hover:scale-[1.01] hover:border-b-4 hover:border-r-4 hover:border-black">
                    {% trans "Reset My Password" %}
                </button>
            </form>
            <p class="text-sm text-center italic text-gray-600">{% blocktrans %}Please contact us if you have any
                trouble
                resetting your
                password.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
